<html>
<head>
<title>
Hello world
</title>
<!-- <link rel="stylesheet" type="text/css" href="/static/luffy_vs_chinjao.png"> -->
</head>

<body>
  <img src="/static/luffy_vs_chinjao.png" type="image/png"></img>

<p>
<%= message %>
</p>

</body>
</html>
